<ion-content padding>
  <h1 class="page-header ion-text-center">
    <ion-icon name="settings-outline" class="ion-4x"></ion-icon>
    <b> Configuration</b>
  </h1>
 
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="email">Adresse mail :</ion-label>
        <ion-input type="text" id="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="password">Mot de passe actuel :</ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="password">Nouveau :</ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="password">Confirmer :</ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="name">Nom :</ion-label>
        <ion-input type="text" id="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="username">Prénom :</ion-label>
        <ion-input type="text" id="username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="age">Age : </ion-label>
        <ion-input type="number" id="age" formControlName="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="labelStyle" for="gender">Genre :</ion-label>
        <ion-select type="text" id="gender" class="inputStyle" formControlName="gender">
          <ion-select-option value="female">Femme</ion-select-option>
          <ion-select-option value="male">Homme</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-grid class="ion-text-center">
      <ion-button type="submit" [disabled]="signUpForm.invalid">Sauvegarder</ion-button>
    </ion-grid>
  </form>
  <p class="text-danger">{{ errorMessage }}</p>

  <h1 class="page-header ion-text-center">
    <ion-icon name="logo-facebook"></ion-icon>
    <b> Facebook</b>
  </h1>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-button padding color="tertiary">Lier mon compte Facebook</ion-button>
    </ion-row>
    <ion-row>
      <ion-button padding color="danger">Dissocier Facebook</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
