<!-- If Login -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="dashboard" routerLinkActive="tab-selected">
      <ion-label color="light">Accueil</ion-label>
      <ion-icon name="home-outline" color="light"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="activities" routerLinkActive="tab-selected">
      <ion-label color="light">Activité</ion-label>
      <ion-icon name="car-sport-outline" color="light"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="friend" routerLinkActive="tab-selected">
      <ion-label color="light">Amis</ion-label>
      <ion-icon name="people-outline" color="light"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="setting" routerLinkActive="tab-selected">
      <ion-label color="light">Paramètres</ion-label>
      <ion-icon name="settings-outline" color="light"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>