
<ion-header>
    <ion-toolbar color="primary">
        <ion-title> Connexion </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <ion-list lines="full">
            <h1 class="h1top">Connexion</h1>
            <br>
            <div>
                <ion-label class="labelStyle" for="email">Adresse mail</ion-label>
                <ion-input type="text" id="email" class="inputStyle" formControlName="email"></ion-input>
            </div>
            <div>
                <ion-label class="labelStyle" for="password">Mot de passe</ion-label>
                <ion-input type="password" id="password" class="inputStyle" formControlName="password"></ion-input>
            </div>
        </ion-list>
        <div class="div0">
            <ion-button class="bottom0" type="submit" [disabled]="signInForm.invalid">Connexion</ion-button>
        </div>
    </form>
    <ion-button (click)="authentification()">Facebook</ion-button>
    <p class="text-danger">{{ errorMessage }}</p>
</ion-content>

