<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Je suis responsable
    </ion-title>
  </ion-toolbar>

  <div class="menuConnexion">
    <div routerLinkActive="active">
      <ion-button class="petitBouton" routerLink="../auth/signup">Créer un compte</ion-button>
    </div>
    <div routerLinkActive="active">
      <ion-button class="petitBouton" routerLink="../auth/signin">Connexion</ion-button>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>
